{% load i18n %}

  <table border="1" repeat="1">
    <thead>
      <tr>
{% for column in visible_columns %}
  {% if column == 'date' %}
        <th>{% trans 'Date' context 'Work' %}</th>
  {% elif column == 'company' %}
        <th>{% trans 'Company' context 'Hotels' %}</th>
  {% elif column == 'employee' %}
        <th>{% trans 'Employee' context 'Work' %}</th>
  {% elif column == 'contract_id' %}
        <th>{% trans 'Contract ID' context 'Work' %}</th>
  {% elif column == 'roll_number' %}
        <th>{% trans 'Roll NR' context 'Work' %}</th>
  {% elif column == 'enter' %}
        <th>{% trans 'Enter' context 'Work' %}</th>
  {% elif column == 'enter_description' %}
        <th>{% trans 'Enter description' context 'Work' %}</th>
  {% elif column == 'exit' %}
        <th>{% trans 'Exit' context 'Work' %}</th>
  {% elif column == 'exit_description' %}
        <th>{% trans 'Exit description' context 'Work' %}</th>
  {% elif column == 'duration' %}
        <th>{% trans 'Duration' context 'Work' %}</th>
  {% elif column == 'notes' %}
        <th>{% trans 'Notes' context 'Work' %}</th>
  {% endif %}
{% endfor %}
      </tr>
    </thead>
    <tbody>
