  <table border="1" repeat="1">
    <thead>
      <tr>
{% for column in visible_columns %}
  {% if column == 'date' %}
        <th>Date</th>
  {% elif column == 'company' %}
        <th>Company</th>
  {% elif column == 'employee' %}
        <th>Employee</th>
  {% elif column == 'contract_id' %}
        <th>Contract ID</th>
  {% elif column == 'roll_number' %}
        <th>Roll NR</th>
  {% elif column == 'enter' %}
        <th>Enter</th>
  {% elif column == 'enter_description' %}
        <th>Enter Description</th>
  {% elif column == 'exit' %}
        <th>Exit </th>
  {% elif column == 'exit_description' %}
        <th>Exit Description</th>
  {% elif column == 'duration' %}
        <th>Duration</th>
  {% elif column == 'notes' %}
        <th>Notes</th>
  {% endif %}
{% endfor %}
      </tr>
    </thead>
    <tbody>
