Django==2.2.27
Pillow==7.0.0
pytz==2019.3
django-logentry-admin==1.0.5
sqlparse==0.3.1
qrcode==6.1
django-sql-explorer==1.1.3
django-iprestrict==1.7.0
six==1.14.0
django-generic-json-views==0.8
django-admin-rangefilter==0.5.4
pyotp==2.3.0
codicefiscale==0.9
reportlab==3.5.34
xhtml2pdf==0.2.3
XlsxWriter==1.2.8