Django==2.2.8
Pillow==6.1.0
pytz==2019.2
django-logentry-admin==1.0.5
sqlparse==0.3.0
qrcode==6.1
django-sql-explorer==1.1.2
django-iprestrict==1.7.0
django-generic-json-views==0.8
django-admin-rangefilter==0.5.0
pyotp==2.3.0
codicefiscale==0.9
xhtml2pdf==0.2.3
XlsxWriter==1.2.0