{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block copyright-notices %}
    <!--
         Project: Django Hotels
     Description: A Django application to organize Hotels and Inns
          Author: Fabio Castelli (Muflone) <muflone@muflone.com>
       Copyright: 2018-2019 Fabio Castelli
         License: GPL-2+
    -->
{% endblock %}

{% block object-tools %}
    <div>
      <ul class="object-tools">
        <li><a href="import/" class="addlink">{% trans 'Import CSV' context 'Utility' %}</a></li>
        <li><a href="add/" class="addlink">{% trans 'Add item' context 'Utility' %}</a></li>
      </ul>
    </div>
{% endblock %}
