{% extends 'admin/base.html' %}
{% load i18n %}

{% block copyright-notices %}
    <!--
         Project: Django Hotels
     Description: A Django application to organize Hotels and Inns
          Author: Fabio Castelli (Muflone) <muflone@muflone.com>
       Copyright: 2018-2019 Fabio Castelli
         License: GPL-3+
    -->
{% endblock %}

{% block content %}
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">{% trans 'Upload CSV File' context 'Utility' %}</button>
        </form>
    </div>
    <br />
{% endblock %}
