{% extends 'admin/base.html' %}

{% block copyright-notices %}
    <!--
         Project: Django Hotels
     Description: A Django application to organize Hotels and Inns
          Author: Fabio Castelli (Muflone) <muflone@muflone.com>
       Copyright: 2018 Fabio Castelli
         License: GPL-2+
    -->
{% endblock %}

{% block content %}
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Upload CSV File</button>
        </form>
    </div>
    <br />
{% endblock %}
