{% include 'work/report_timestamps_hours/table_header.html' %}

{% for item in results %}
      <tr>
        <td class="date">{{ item.date }}</td>
        <td class="company">{{ item.company }}</td>
        <td class="employee">{{ item.employee }}</td>
        <td class="contract">{{ item.contract_id }}</td>
        <td class="rollnr">{{ item.roll_number }}</td>
        <td class="enter">{{ item.enter | default:'&nbsp;' }}</td>
        <td class="enter_description">{{ item.enter_description | default:'&nbsp;' }}</td>
        <td class="exit">{{ item.exit | default:'&nbsp;' }}</td>
        <td class="exit_description">{{ item.exit_description | default:'&nbsp;' }}</td>
        <td class="duration">{{ item.duration | default:'&nbsp;' }}</td>
  {% if item.notes %}
        <td class="notes">{{ item.notes }}</td>
  {% else %}
        <td class="notes_empty">&nbsp;</td>
  {% endif %}
      </tr>
{% endfor %}

{% include 'work/report_timestamps_hours/table_footer.html' %}
