{% load get_dict_value %}

{% if structures|length > 1 %}
  <h1 class="warning">Warning: there is more than a structure selected</h1>
{% endif %}
{% for structure in structures %}
  <h1 class="company">Company: {{ structure.company }} - Structure: {{ structure.name }}</h1>
{% endfor %}

{% include 'work/activities_monthly/table_header.html' %}

{% for key, value in results.items %}
      <tr>
        <td class="date">{{ dates | get_dict_value:key }}</td>
  {% for service in services %}
        <td class="service service_{{ service.id }}">{{ value | get_dict_value:service.id | default:'&nbsp;' }}</td>
  {% endfor %}
        <td class="totals">{{ totals | get_dict_value:key }}</td>
  {% if show_details == '1' %}
        <td class="details">{{ details | get_dict_value:key | default:'&nbsp;' | linebreaksbr }}</td>
  {% endif %}
      </tr>
{% endfor %}

{% include 'work/activities_monthly/table_footer.html' %}
