{% load get_dict_value %}
{% include 'work/timestamps_days/table_header.html' %}

{% for item in results %}
      <tr>
  {% for column in visible_columns %}
    {% if column == 'company' %}
        <td class="company">{{ item.company }}</td>
    {% elif column == 'structure' %}
        <td class="structure">{{ item.structure }}</td>
    {% elif column == 'employee' %}
        <td class="employee">{{ item.employee }}</td>
    {% elif column == 'contract_id' %}
        <td class="contract">{{ item.contract_id }}</td>
    {% elif column == 'roll_number' %}
        <td class="rollnr">{{ item.roll_number }}</td>
    {% elif column == 'working_days' %}
        <td class="workdays">{{ item.working_days }}</td>
    {% elif column == 'dates' %}
      {% for day in ordinals %}
        <td class="date date_{{ item|get_dict_value:day | default:'' }}">{{ item|get_dict_value:day | default:'&nbsp;' }}</td>
      {% endfor %}
    {% endif %}
  {% endfor %}
      </tr>
{% endfor %}

{% include 'work/timestamps_days/table_footer.html' %}

<hr />

{# Totals table #}
  <table border="1" width="200px" class="totals">
    <tbody>
{% for item in directions %}
      <tr>
        <td class="short_code">{{ item.short_code }}</td>
        <td class="name">{{ item.name }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
