{% load i18n %}

{% for item in results %}
  {% include 'work/activities_daily/table_header.html' %}

  {% for service in item.services %}
      <tr>
        <td>{{ service.building }}</td>
        <td>{{ service.room }}</td>
        <td class="service_{{ service.service_id }}">{{ service.service }}</td>
        <td>{{ service.description }}&nbsp;</td>
      </tr>
  {% endfor %}

  {% include 'work/activities_daily/table_footer.html' %}
{% endfor %}

{# Totals table #}
  <table border="1">
    <tbody>
      <tr>
        <td class="footer right">{% trans 'Grand totals' context 'Work' %}</td>
        <td class="footer">
{% for item in grand_totals %}
          <div>{{ item }}</div>
{% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
