{% extends "admin/base.html" %}

{% block copyright-notices %}
    <!--
        Project: Django Milazzo Inn
     Description: A Django application to organize Hotels and Inns
          Author: Fabio Castelli (Muflone) <muflone@muflone.com>
       Copyright: 2018 Fabio Castelli
         License: GPL-2+
    -->
{% endblock %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'website/images/brands/favicon.ico' %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'website/images/brands/logo.png' %}" height="40px" />
        {{ site_header }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
