{% extends "website/base.html" %}
{% load i18n %}

{% block content %}

  {% if form.errors %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h1 class="panel-title">{% trans 'Errors processing your request' context 'Work' %}</h1>
      </div>
      <div class="panel-body">{{ form.non_field_errors }}</div>
    </div>
  {% endif %}

  {% if visible_columns %}
    {% if last_logins %}
  <div class="panel panel-primary">
    <h1 class="panel-body">{% trans 'Your last' context 'Work' %} {{ last_logins.count }} {% trans 'accesses are:' context 'Work' %}</h1>

    <table class="last_logins">
      <thead>
        <tr>
      {% for column in visible_columns %}
        {% if column == 'day' %}
          <th><span class="glyphicon glyphicon-calendar"></span> {% trans 'DAY' context 'Work' %}</th>
        {% elif column == 'date' %}
          <th><span class="glyphicon glyphicon-calendar"></span> {% trans 'DATE' context 'Work' %}</th>
        {% elif column == 'time' %}
          <th><span class="glyphicon glyphicon-time"></span> {% trans 'TIME' context 'Work' %}</th>
        {% elif column == 'access' %}
          <th colspan="2"><span class="glyphicon glyphicon-retweet"></span> {% trans 'ACCESS' context 'Work' %}</th>
        {% endif %}
      {% endfor %}
        </tr>
      <thead>
      <tbody>
      {% for login in last_logins %}
        <tr>
        {% for column in visible_columns %}
          {% if column == 'day' %}
          <td>{{ login.date|date:'l' }}</td>
          {% elif column == 'date' %}
          <td>{{ login.date|date:'d F Y' }}</td>
          {% elif column == 'time' %}
          <td class="border">{{ login.time|date:'H:i' }}</td>
          {% elif column == 'access' %}
          <td>{{ login.direction.description }}</td>
          <td class="border">{% if login.description %}<span class="glyphicon glyphicon-comment" title="{{ login.description }}"></span>{% endif %}</td>
          {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}
  {% endif %}

  <form class="loginform" method="post" action="{% url 'work/page_login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="loginbox input-group form-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <input class="form-control" required autofocus type="text" placeholder="{{ form.username.label }}"
        id="{{ form.username.id_for_label }}" name="{{ form.username.name }}">
    </div>

    <div class="loginbox input-group form-group">
      <span class="input-group-addon glyphicon glyphicon-lock"></span>
      <input class="form-control" required type="password" placeholder="{{ form.password.label }}"
        id="{{ form.password.id_for_label }}" name="{{ form.password.name }}">
    </div>

    <div class="loginbox input-group form-group">
      <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
      <textarea class="form-control" rows="2" placeholder="{{ form.description.label }}"
        id="{{ form.description.id_for_label }}" name="{{ form.description.name }}"></textarea>
    </div>

    <div class="loginbox">
      <button type="submit" disabled style="display: none" aria-hidden="true"></button>

      <button class="btn signin-btn btn-lg" type="submit" name="access_type" value="enter">
        <span class="glyphicon glyphicon-log-in"></span><br />{% trans 'Enter' context 'Work' %}</button>

      <button class="btn signin-btn btn-lg" type="submit" name="access_type" value="exit">
        <span class="glyphicon glyphicon-log-out"></span><br />{% trans 'Exit' context 'Work' %}</button>
    </div>
  </form>

{% endblock %}
