{% extends "admin/base_site.html" %}

{% load staticfiles %}

{% block copyright-notices %}
    <!--
         Project: Django Hotels
     Description: A Django application to organize Hotels and Inns
          Author: Fabio Castelli (Muflone) <muflone@muflone.com>
       Copyright: 2018-2019 Fabio Castelli
         License: GPL-3+
    -->
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content %}
<p>{{ question }}</p>

<form action="" method="post">
  {% csrf_token %}

  <div>
    <fieldset class="module aligned">
      <div class="form-row">
        <div>
          <label class="required">{{ items_name }}:</label>
          <div class="related-widget-wrapper">
            <ul>
            {% for item in queryset %}
              <li>{{ item }}</li>
              <input type="hidden" name="_selected_action" value="{{ item.pk }}" />
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      {{ form }}
    </fieldset>
  </div>

  <input type="hidden" name="action" value="{{ action }}" />
  <input type="submit" name="{{ action }}" value="{{ action_description }}"/>
</form>
{% endblock %}
